@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
  @apply fixed z-10 bg-white bg-opacity-70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#hamburger.active {
  transition-delay: 1s;
  transform: rotate(45deg);
}
#hamburger.active > span:nth-child(1) {
  transform: translateY(9px);
}
#hamburger.active > span:nth-child(2) {
  width: 0;
}
#hamburger.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}
#hamburger.active > span:nth-child(1),
#hamburger.active > span:nth-child(3) {
  transition-delay: 0.5s;
}
.hero-background {
  background-color: #f3cf0d;
  padding-bottom: 200px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 25px), 0% 100%);
}
